<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h3 class="text-center pb-3 pt-3">
          <span class="text-primary">
            <i class="fa fa-lock"></i> Client Panel</span
          >
          Register
        </h3>
        <form [formGroup]="signUpForm" (submit)="onSubmit()">
          <!-- username input feild -->
          <mat-form-field>
            <input
              type="text"
              name="username"
              formControlName="username"
              placeholder="Enter your username"
              matInput
            />
            <mat-error *ngIf="signUpForm.get('username').errors?.pattern">
              username should be start with letter!
            </mat-error>
            <mat-error *ngIf="signUpForm.get('username').errors?.required">
              username is required!
            </mat-error>
          </mat-form-field>

          <!-- email feild  -->
          <mat-form-field>
            <input
              type="email"
              matInput
              placeholder="Enter your email"
              formControlName="email"
            />
            <mat-error *ngIf="signUpForm.get('email').errors?.required">
              email is required
            </mat-error>
            <mat-error *ngIf="signUpForm.get('email').errors?.email">
              please provide a valid email
            </mat-error>
          </mat-form-field>

          <!-- paassword field -->
          <mat-form-field>
            <input
              type="password"
              matInput
              placeholder="Enter your password "
              formControlName="password"
            />
            <mat-error *ngIf="signUpForm.get('password').invalid">
              password is required and should be 3 char long!
            </mat-error>
          </mat-form-field>
          <button
            type="submit"
            class="btn btn-primary btn-block"
            [disabled]="signUpForm.invalid"
          >
            Register
          </button>
        </form>
        <div class="bottom">
          <p>
            already have an account?
            <span><a routerLink="/login">login</a></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
