<div class="row">
  <div class="col-md-6">
    <h2><i class="fa fa-user"> Clients</i></h2>
  </div>
  <div class="col-md-6">
    <h5 class="text-right text-secondary">
      Total Owed: {{ totalBalance | currency: "USD":"symbol" }}
    </h5>
  </div>
</div>
<table class="table table-striped" *ngIf="clients?.length > 0 && !isLoading">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Balance</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients">
      <th scope="row">{{ client.firstname }} {{ client.lastname }}</th>
      <td>{{ client.balance | currency: "USD":"symbol" }}</td>
      <td>
        <a
          routerLink="/client/{{ client._id }}"
          class="btn btn-secondary btn-sm"
        >
          <i class="fa fa-arrow-circle-o-right"></i> Details</a
        >
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="isLoading">
  <hr />
  <h2>Loading......</h2>
</div>
<div *ngIf="clients?.length === 0 && !isLoading">
  <hr />
  <h2>There is no client</h2>
</div>
