<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">ClientPanel</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarMain"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link">Dashboard</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!userIsAuthenticated">
          <a routerLink="/login" class="nav-link">Login</a>
        </li>
        <li class="nav-item" *ngIf="userIsAuthenticated">
          <a class="nav-link">{{ username }}</a>
        </li>

        <li class="nav-item" *ngIf="!userIsAuthenticated">
          <a
            [routerLink]="['/register']"
            routerLinkActive="router-link-active"
            class="nav-link"
            >Register</a
          >
        </li>
        <li *ngIf="userIsAuthenticated">
          <button (click)="onLogout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
